/* Default Light Theme */
:root {
  --primary-color: #2a9d8f;
  --secondary-color: #264653;
  --background-color: #fefae0;
  --surface-color: #ffffff;
  --text-primary-color: #264653;
  --text-secondary-color: #577590;
}

[data-theme="light"] {
  --primary-color: #2a9d8f;
  --secondary-color: #264653;
  --background-color: #fefae0;
  --surface-color: #ffffff;
  --text-primary-color: #264653;
  --text-secondary-color: #577590;
}

[data-theme="dark"] {
  --primary-color: #90CAF9; /* Light Blue */
  --secondary-color: #BBDEFB; /* Lighter Blue */
  --background-color: #121212; /* Very dark grey */
  --surface-color: #1E1E1E; /* Darker grey */
  --text-primary-color: #E0E0E0; /* Light grey */
  --text-secondary-color: #B0B0B0; /* Grey */
}

[data-theme="blue"] {
  --primary-color: #0077b6;
  --secondary-color: #00b4d8;
  --background-color: #caf0f8;
  --surface-color: #ffffff;
  --text-primary-color: #023e8a;
  --text-secondary-color: #0096c7;
}

[data-theme="green"] {
  --primary-color: #40916c;
  --secondary-color: #52b788;
  --background-color: #d8f3dc;
  --surface-color: #ffffff;
  --text-primary-color: #2d6a4f;
  --text-secondary-color: #74c69d;
}

[data-theme="yellow"] {
  --primary-color: #fb8500;
  --secondary-color: #ffb703;
  --background-color: #fff3e0;
  --surface-color: #ffffff;
  --text-primary-color: #023047;
  --text-secondary-color: #219ebc;
}

[data-theme="dodgerblue"] {
  --primary-color: #1E90FF; /* DodgerBlue */
  --secondary-color: #6495ED; /* CornflowerBlue */
  --background-color: #E0FFFF; /* LightCyan */
  --surface-color: #F0F8FF; /* AliceBlue */
  --text-primary-color: #191970; /* MidnightBlue */
  --text-secondary-color: #4169E1; /* RoyalBlue */
}
